body {        
    overflow: hidden;
    margin: 0;
    background-color: black;
}

.targetArea {
    position: fixed;
    width:100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
      
.title {
    display: table;
    position: absolute;
    text-align: center;
    transform: translateZ(0);
    transform-style: preserve-3d;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.text{
    display: table-cell;
    vertical-align: middle;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.title .text {
    font-family: "Segoe UI";
    font-weight: 400;
    font-size: calc(7vw);
    line-height: 1.0;
}

@media only screen and (max-width: 600px) {
    .title .text {
        font-size: calc(15vw);
    }
}

.title .write .word {
color: hsl(0, 0%, 90%);
text-shadow: 0 0 0.1em currentColor;
transform-style: preserve-3d;
animation: write linear both;
}

.title .laser {
/* To avoid the blur getting masked by the clip-path we had to duplicate the element */
filter: blur(4px) contrast(10);
pointer-events: none;
}

.title .laser .word {
display: inline-block;
}

.title .laser .word {
color: hsl(207, 100%, 75%);
text-shadow: 0 0 0.1em currentColor;
transform: translateZ(5px);
animation: laser linear both;
}

.title .write .word,
.title .laser .word {
animation-duration: 8s;
animation-delay: calc(0s);
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s linear, opacity 1s linear;
}

@keyframes write {
from, 30% { clip-path: polygon(-20% 0%, -15% 0%, -15% 100%, -20% 100%) }
70%, to { clip-path: polygon(-15% 0%, 120% 0%, 120% 100%, -15% 100%) }
}

@keyframes laser {
from, 30% { clip-path: polygon(-20% 0%, -15% 0%, -15% 100%, -20% 100%) }
70%, to { clip-path: polygon(115% 0%, 120% 0%, 120% 100%, 115% 100%) }
}

.uiButtonList {
    max-width: 90%;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    top: 50%;
    left: 50%;
    transition: visibility 1s linear, opacity 1s linear, transform 1s;
    transform: translate(-50%, 200vh);
    border-radius: 25px;
    pointer-events: initial;
    width: fit-content;
    height: fit-content;
    opacity: 1;
    visibility: visible;
}

.uiButtonList.show {
    transform: translate(-50%, -50%);
}

.uiButtonList.invisible {
    opacity: 0;
    visibility: hidden;
}

.uiButtonWrapper {
    pointer-events: initial;
    margin: 10px;
    border-radius: 10px;
    width: 100%;
    appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    align-items: flex-start;
    cursor: pointer;
    box-sizing: border-box;
    font: 400 13.3333px Arial;
    border-width: 2px;
    border-style: outset;
    border-color: rgb(118, 118, 118);
    border-image: initial;
    height: 100px;
    position: relative;
    box-shadow: 0 10px 10px rgba(12,13,14,0.15),inset 0 1px 0 0 var(--white);
    background-color: #e4e6e8;
    border: 4px solid #9fa6ad;
    border-style: solid;
    border-top-color: white;
    display: block;
    min-width: 25vw;
    max-width: 90vw;
}

.uiButton {
    font-family: "Segoe UI";
    font-weight: 600;
    font-size: 1.5em;
    left: 2%;
    width: 75%;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

.uiButtonIcon {
    position: absolute;
    right: 5px;
    top: 5px;
    height: 78px;
    width: 78px;
    object-fit: cover;
    border-style: inset;
    border-width: 2px;
}

.modalContent {
    position: fixed;
    top: 50%;
    left: 50%;
    transition: transform 1s;
    transform: translate(-50%, 200vh);
    border-radius: 25px;
    pointer-events: initial;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    max-width: 100vw;
    max-height: 100vh;
}

.modalContent.show {
    transform: translate(-50%, -50%);
}

#apodsModal.modalContent {
    overflow-y: auto;
    transform: translate(0%, 200vh);
    overflow: auto;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    max-width: 100%;
    text-align: center;
}

#apodsModal.modalContent.show {
    transform: translate(0%, 0%);
}

.modalHeader {
    position: relative;
    background-color: white;
    font-family: "Segoe UI";
    font-weight: 600;
    font-size: 1.2em;
    border-bottom: 1px solid rgba(200, 200, 200, 1);
    padding: 10px 20px;
}

.modalHeaderText {
    width: calc(90%);
    text-overflow: ellipsis;
    display: inline-block;
    min-width: 0;
}

.modalClose {
    position: absolute;
    right: 20px;
    bottom: 3px;
    font-size: 1.4em;
    font-family: cursive;
    background-color: transparent;
    border-width: 0px;
    cursor: pointer;
}

.modalBody {
    height: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(7px);
}

.pictureBoxImageWrapper {
    position: relative;
    width: fit-content;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 10px 10px rgba(12,13,14,0.15),inset 0 1px 0 0 var(--white);
    background-color: #e4e6e8;
    border: 4px solid #9fa6ad;
    border-style: solid;
    border-top-color: white;
    border-radius: 24px;
}

.pictureBoxImage {
    max-width: 100%;
    max-height: 80vh;
    display: block;
    object-fit: cover;
}

.pictureBoxOverlay {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    bottom: 0;
    max-width: 100%;
    backdrop-filter: blur(21px);
    max-height: 35%;
    transition: transform 1s;
    overflow-y: scroll;
}

.pictureBoxOverlay.hide {
    transform: translate(0%, 150%);
}

.pictureBoxContent {
    padding: 10px;
}

.pictureBoxClose {
    position: absolute;
    right: 15px;
    top: 5px;
    font-size: 1.4em;
    font-family: cursive;
    background-color: transparent;
    border-width: 0px;
    cursor: pointer;
}

.pictureBoxOpen {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 1.4em;
    font-family: cursive;
    border-width: 0px;
    cursor: pointer;
    padding: 0px 5px;
    transition: visibility 1s linear, opacity 1s linear, transform 1s;
}

.pictureBoxOpen.hide {
    opacity: 0;
    transform: translate(0%, 100%);
}

.pictureBoxTitle {
    font-family: "Segoe UI";
    font-weight: 600;
    font-size: 1.1em;
    padding-bottom: 5px;
}

.pictureBoxDescription {    
    font-family: "Segoe UI";
    padding-bottom: 5px;
    text-overflow: ellipsis;
    max-height: 100%;
}

.tabulatorWrapper {    
    overflow-x: auto;
    width: 100%;
}

.apodCardContainer {    
    transition: transform 1s;
    pointer-events: initial;
}

.cardCloseFront, .cardCloseBack {
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 1.4em;
    font-family: cursive;
    border-width: 0px;
    cursor: pointer;
    padding: 10px 15px 5px 10px;
    border-radius: 0px 0px 0px 10px;
}

.cardImage {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.cardVideo {
    width: 100%;
    height: 100%;
    display: block;
}

.cardTitle {
    font-family: "Segoe UI";
    font-weight: 600;
    font-size: 1.25em;
    padding-bottom: 5px;
    display: block;
    color: white;
}

.cardDate {
    font-family: "Segoe UI";
    font-weight: 600;
    font-size: 1.2em;
    padding-bottom: 15px;
    display: block;
    color: white;
}

.cardDescription {
    font-family: "Segoe UI";
    font-size: 1em;
    padding-bottom: 5px;
    text-overflow: ellipsis;
    display: block;
    color: white;
    max-height: 75%;
    position: relative;
    overflow-y: auto;
    white-space: normal;
}

.cardBackBody {
    padding: 5%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 90%;
    text-align: left;
}

.loading {
    font-family: "Segoe UI";
    color: white;
    text-align: center;
    font-size: 3em;
    padding: 50px 0px 100px 0px;
    transition: visibility 1s linear, opacity 1s linear;
    opacity: 1;
}

.loading.hidden {
    opacity: 0;
}

.flip-card-container {
  --hue: 150;
  --primary: hsl(var(--hue), 50%, 50%);
  --white-1: hsl(0, 0%, 90%);
  --white-2: hsl(0, 0%, 80%);
  --dark: hsl(var(--hue), 25%, 10%);
  --grey: hsl(0, 0%, 50%);

  width: 500px;
  height: 500px;
  margin: 40px;
  max-width: 80vw;
  max-height: 80vw;

  perspective: 1000px;
  display: inline-block;
}

.flip-card {
    width: 100%;
    height: 100%;

  position: relative;
  transform-style: preserve-3d;
  transition: .6s .1s;
}

.flip-card-container:hover .flip-card,
.flip-card-container:focus-within .flip-card {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  border-radius: 24px;

  background: var(--dark);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

  backface-visibility: hidden;

  justify-content: center;
  align-items: center;
}

.card-front {
  transform: rotateY(0deg);
  z-index: 2;
}

.card-back {
  transform: rotateY(180deg);
  z-index: 1;
}

figure {
  z-index: -1;
}

figure,
.img-bg {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

img {
  height: 100%;
  border-radius: 24px;
}

figcaption {
  display: block;

  width: auto;
  margin-top: 12%;
  padding: 8px 22px;

  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 2px;
  word-spacing: 6px;
  text-align: right;

  position: absolute;
  top: 0;
  right: 12px;

  color: var(--white-1);
  background: hsla(var(--hue), 25%, 10%, .5);
}

.img-bg {
  background: hsla(var(--hue), 25%, 10%, .5);
}

.card-front .img-bg {
  clip-path: polygon(0 20%, 100% 40%, 100% 100%, 0 100%);
}

.card-front .img-bg::before {
  content: "";

  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(18deg);

  width: 100%;
  height: 6px;
  border: 1px solid var(--primary);
  border-left-color: transparent;
  border-right-color: transparent;

  transition: .1s;
}

.card-back .img-bg {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
}

.flip-card-container:hover .card-front .img-bg::before {
  width: 6px;
  border-left-color: var(--primary);
  border-right-color: var(--primary);
}

#neoFilter {
    font-family: "Segoe UI";
    margin-bottom: 10px;
}

.filterLabel {
    font-weight: 600;
    display: inline-block;
    margin-right: 10px;
}

#filter-field, #filter-type, #filter-value {    
    margin-right: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 10px 4px 10px;
    border-width: 1px;
    background: #fafafa;
    outline: none;
}

#filter-clear {    
    font-weight: 600;
    padding: 5px 10px 3px 10px;
}